In [1]:
import sys
sys.path.append("/Users/kuutsav/Documents/leetcode-compensation")

from info.all_info import get_raw_records

In [2]:
df = get_raw_records()

2021-08-02 12:06:34.387 | INFO     | info.all_info:get_raw_records:55 - n records: 4120
2021-08-02 12:06:34.388 | WARNING  | info.all_info:get_raw_records:57 - missing post_ids: ['1347044', '1193859', '1208031', '1352074', '1308645', '1206533', '1309603', '1308672', '1271172', '214751', '1317751', '1342147', '1308728', '1138584']

In [3]:
df

,href,post_title,company,title,yoe,salary,location
0,https://leetcode.com/discuss/compensation/1333...,Freecharge | SDE 2 equivalent,freecharge,lsenior engineer,3+ yrs,2800000,
1,https://leetcode.com/discuss/compensation/1089...,Phonepe | SDE | Bangalore,phonepe,sde,0,17.5lpa,bangalore
2,https://leetcode.com/discuss/compensation/1231...,Cure.fit | SDE 1 | Bangalore,cure.fit,software development engineer,0,"inr 19,50,000",bangalore
3,https://leetcode.com/discuss/compensation/9176...,Sprinklr | SE2 | Gurgaon,sprinklr,product engineer,0,"22,00,000 inr","gurgaon, india"
4,https://leetcode.com/discuss/compensation/1131...,Cisco SDET Austin TX,cisco,sdet iii,2.5 years,"$110,000","us austin, tx"
...,...,...,...,...,...,...,...
4115,https://leetcode.com/discuss/compensation/4772...,Databricks | Senior Cloud Engineer | Bengaluru,databricks,senior cloud solutions engineer,6 years 2 months,"inr 29,00,000",hyderabad
4116,https://leetcode.com/discuss/compensation/7455...,Junglee Games | SDE1 | Bangalore,junglee games,sde i,2 years,"₹7,50,000",bangalore
4117,https://leetcode.com/discuss/compensation/1236...,Flipkart | SDE-1 | Bangalore,flipkart,software development engineer 1,9 months,19 lpa,bangalore
4118,https://leetcode.com/discuss/compensation/8945...,Amazon | Intern | Bay Area,amazon,software development engineer intern,1,"$9,456 / month","bay area, ca"
4119,https://leetcode.com/discuss/compensation/1075...,Amazon | SDE-2 | Seattle (Spring 2020),amamzon,software engineer ii,3 years,"$155,000","seattle, wa"

In [4]:
df1 = df[~((df.company=="")|(df.title=="")|(df.yoe=="")|(df.salary==""))]

In [5]:
df1.shape

(3308, 7)

In [12]:
from info.clean_info import clean_company, clean_title

ImportError: cannot import name 'clean_title' from 'info.clean_info' (/Users/kuutsav/Documents/leetcode-compensation/info/clean_info.py)

In [10]:
n = 0
for c in df1["company"]:
    cc = clean_company(c)
    if cc == "n/a":
        print(c)
        n += 1

renowned software firm (non faang)
times internet
tier 1
harman (samsung subsidiary, owner of
vk.com (mail.ru group)
hevo data
oracle corp (oci)
national informatics center, govt of india
policy bazaar
lti(l&t infotech)
cure.fit (renamed as cult.fit now)
bookmyshow
microsoft (azure)
amazon (lab 126)
learpedia( uprep)
guidewire software
ibm (cic
ani technologies pvt. ltd.(ola electrical)
rivian automotive
paypal (after negotitation)
and i am up for promotion next year. microsoft stocks are at ath with 10-15
mpl (mobile premier league)
directi (media.net)
noodle analytics
eygbs (india) llp
crest data system
kvantum title
urban ladder
mentor graphics (siemens eda)
bidgely, india
ibm india software labs
infosys (power programmer)
paytm(oncampus)
microsoft title
samsung research institute, noida
bigtree ltd (bookmyshow)
arcesium (d.e.shaw company)
wheelseye technology india private limited title
helpshift inc
q3 technologies (q3 infotech pvt ltd.)
samsung research institute bangalore (srib)
zeta (directi)
samsung r&d institute, delhi
optym
zeta (directi)
hcl technology
ibm labs (gts)
amadeus software labs india pvt. ltd.
amazon (alexa)
goldman sachs, london
games 24x7
kvantum title
product based mnc
plivo
gain credit (formerly global analytics)
naukri.com (info edge)
lyft level 5 ( self driving )
samsung research institute, noida
hexad gmbh
oracle cloud infrastructure (oci)
my personal helth record express(mphrx) pvt. ltd.
samsung r&d, noida
ebay (payments group)
techmojo ( startup ) & barclays ( bank )
abb
square (cash app)
dassault systemes, pune
amazon (lab 126)
apisero
cred
prudential technology and services-india
paypal (after negotitation)
microsoft, hyderabad
azuga
walmart global tech, india
analysed ai
newgen software
startup -cinemacraft inc. (videogram)
unthinkable solutions (daffodil)
staffing firm and client is us based start up
zestmoney ( camden town technologies )
hypersonix inc (hypersonix ai)
infosys (system engineer)
automate technologies (bharath hyundai)
microsoft (odsp)
infosys (power programmer)
optuminsight india pvt. ltd. (formerly abco india)
foxconn inc., taiwan
wipro hr services noida, sector 126
delivery hero
dreamx(dream11)
hevo data
iris software
times internet
sri (samsung research institute), delhi
amazon web services, inc.
cash (square) https
flock (directi)
walmart global tech ,bangalore,india
anarock
tower research
oracle india pvt ltd., idc
paytm(oncampus)
oracle (oci team)
arcesium (spinoff by d. e. shaw & co.)
us based mnc with a brand comparable to faang, featured in one of the best places to work for.
oracle, bangalore
tesco technology
amazon (amazon pay)
should i join.
impetus technology
grab (digibank)
aws (amazon)
teradata
advanced semiconductor materials lithography (asml)
oracle india pvt ltd., idc
mckinsey & company
product based company (non faang)
wheelseye technology india private limited title
tide business (hq-uk)
roiim( work for outsourcing client paysafe group)
goldman sachs, london
glance (inmobi)
bny mellon technology, india
a startup
microsoft (azure)
tact.ai
mpl (mobile premier league)
fareye
and i am up for promotion next year. microsoft stocks are at ath with 10-15
none
glance, inmobi
glance (inmobi)
pinger, inc
mentor graphics(siemens)
in india
tata consultancy services limited (tcs)
techmojo ( startup ) & barclays ( bank )
vinculum solutions
amazon (advertising)
crest data system
3.5 years, service based
--
glance (inmobi)
arcesium (spinoff by d. e. shaw & co.)
infoedge (naukri.com)
in india
innominds

In [11]:
n

148

In [ ]:
n = 0
for c in df1["title"]:
    cc = clean_company(c)
    if cc == "n/a":
        print(c)
        n += 1