In [1]:
import sys
sys.path.append("/Users/kuutsav/Documents/leetcode-compensation")

from info.all_info import get_clean_records
from info.clean_info import clean_text

In [2]:
df = get_clean_records()

2021-08-02 13:25:53.870 | INFO     | info.all_info:get_raw_records:89 - n records: 4120
2021-08-02 13:25:53.870 | WARNING  | info.all_info:get_raw_records:91 - missing post_ids: ['1347044', '1193859', '1208031', '1352074', '1308645', '1206533', '1309603', '1308672', '1271172', '214751', '1317751', '1342147', '1308728', '1138584']

In [3]:
df

,href,post_title,post,raw_company,raw_title,raw_yoe,raw_salary,raw_location,company,title,location
0,https://leetcode.com/discuss/compensation/1333...,Freecharge | SDE 2 equivalent,Education: B.Tech from tier 2 college\nYears o...,freecharge,lsenior engineer,3+ yrs,2800000,,freecharge,n/a,n/a
1,https://leetcode.com/discuss/compensation/1089...,Phonepe | SDE | Bangalore,Education: B.Tech in ECE\nYears of Experience:...,phonepe,sde,0,17.5lpa,bangalore,phonepe,sde 1,bangalore
2,https://leetcode.com/discuss/compensation/1231...,Cure.fit | SDE 1 | Bangalore,Education: B.Tech from Tier-1\nYears of Experi...,cure.fit,software development engineer,0,"inr 19,50,000",bangalore,cure.fit,sde 1,bangalore
3,https://leetcode.com/discuss/compensation/9176...,Sprinklr | SE2 | Gurgaon,Education: BTech in Computer Science from Deem...,sprinklr,product engineer,0,"22,00,000 inr","gurgaon, india",sprinklr,product engineer,delhi
4,https://leetcode.com/discuss/compensation/1131...,Cisco SDET Austin TX,Years of Experience: 2.5 years\nCompany: CISCO...,cisco,sdet iii,2.5 years,"$110,000","us austin, tx",cisco,n/a,n/a
...,...,...,...,...,...,...,...,...,...,...,...
4115,https://leetcode.com/discuss/compensation/4772...,Databricks | Senior Cloud Engineer | Bengaluru,Education: B.E from a top tier university in I...,databricks,senior cloud solutions engineer,6 years 2 months,"inr 29,00,000",hyderabad,databricks,n/a,hyderabad
4116,https://leetcode.com/discuss/compensation/7455...,Junglee Games | SDE1 | Bangalore,Education: B.Tech in Computer Science ( Tier-3...,junglee games,sde i,2 years,"₹7,50,000",bangalore,junglee games,sde 1,bangalore
4117,https://leetcode.com/discuss/compensation/1236...,Flipkart | SDE-1 | Bangalore,Education: BTech. in IT from Tier 2 college\nY...,flipkart,software development engineer 1,9 months,19 lpa,bangalore,flipkart,sde 1,bangalore
4118,https://leetcode.com/discuss/compensation/8945...,Amazon | Intern | Bay Area,Education: BS in CS (Expected 2022)\nYears of ...,amazon,software development engineer intern,1,"$9,456 / month","bay area, ca",amazon,sde intern,n/a
4119,https://leetcode.com/discuss/compensation/1075...,Amazon | SDE-2 | Seattle (Spring 2020),Education: MS in Computer Science\nYears of Ex...,amamzon,software engineer ii,3 years,"$155,000","seattle, wa",amazon,sde 2,n/a